<div class="row container">
	<div class="col-12">
		<table datatable [dtOptions]="dtOptions" class="row-border hover col-12">
			<thead>
				<tr>
					<th>Party</th>
					<th>Document #</th>
					<th>LR Date</th>
					<th>Dispatch Expense</th>
					<th>Dispatch Paid On</th>
					<th>Door Delivery Expense</th>
					<th>Door Delivery Paid on</th>
					<th>Pay Method</th>
					<th>Other Expense</th>
					<th>Other Expense Paid on</th>
					<th>Other Expense_pay Method</th>
					<th>Total</th>
					<th>Paid</th>
					<th>View</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>
