<div class="row">
	<div class="col-2"></div>
	<form class="form-inline col-md-8 col-12" [formGroup]="billsForm">
		<div class="form-group row col-12 mb-3">
			<div class="col-sm-12 row mb-3 mb-sm-0">
				<label class="col-md-3 col-12">Bill Number</label>
				<input
					type="number"
					class="form-control col-md-9 col-12 form-control-user"
					formControlName="bill_number"
					placeholder="Bill Number"
				/>
			</div>
		</div>

		<div class="form-group row col-12 mb-3">
			<div class="col-sm-12 row mb-3 mb-sm-0">
				<label class="col-md-3 col-12">Party</label>
				<input
					type="text"
					class="form-control col-md-9 col-12 form-control-user basicAutoComplete"
					formControlName="party"
					placeholder="Party Name"
				/>
			</div>
		</div>

		<div class="form-group row col-12 mb-3">
			<div class="col-sm-12 row mb-3 mb-sm-0">
				<label class="col-md-3 col-12">Bill Amount</label>
				<input
					type="number"
					step="0.01"
					class="form-control col-md-9 col-12 form-control-user"
					formControlName="bill_amount"
					placeholder="Bill Amount"
				/>
			</div>
		</div>

		<div class="form-group row col-12 mb-3">
			<div class="col-sm-12 row mb-3 mb-sm-0">
				<label class="col-md-3 col-12">Payment Mode</label>
				<select
					class="form-control col-md-9 col-12"
					formControlName="payment_mode"
				>
					<option value="">----</option>
					<option value="cash">Cash</option>
					<option value="cheque">Cheque</option>
					<option value="neft">NEFT</option>
				</select>
			</div>
		</div>

		<div class="form-group row col-12 mb-3">
			<div class="col-sm-12 row mb-3 mb-sm-0">
				<label class="col-md-3 col-12">Payment Received At</label>
				<input
					type="date"
					[max]="now"
					class="form-control col-md-9 col-12 form-control-user"
					formControlName="payment_received_at"
					placeholder="Payment Received At"
				/>
			</div>
		</div>

		<div class="form-group row col-12 mb-3">
			<div class="col-sm-12 row mb-3 mb-sm-0">
				<label class="col-md-3 col-12">Payment Received</label>
				<input
					type="number"
					step="0.01"
					class="form-control col-md-9 col-12 form-control-user"
					formControlName="payment_received"
					placeholder="Payment Received"
				/>
			</div>
		</div>

		<div class="form-group row col-12 mb-3">
			<div class="col-sm-12 row mb-3 mb-sm-0">
				<label class="col-md-3 col-12">Balance</label>
				<input
					type="number"
					step="0.01"
					class="form-control col-md-9 col-12 form-control-user"
					formControlName="balance"
					placeholder="Balance"
				/>
			</div>
		</div>

		<div class="form-group row col-12 mb-3">
			<div class="col-sm-12 row mb-3 mb-sm-0">
				<label class="col-md-3 col-12">Remarks </label>
				<input
					type="text"
					class="form-control col-md-9 col-12 form-control-user"
					formControlName="remarks"
					placeholder="Remarks"
				/>
			</div>
		</div>

		<div class="row col-12">
			<p class="text-center col-12 text-danger">{{ message | json }}</p>
		</div>

		<button
			[disabled]="billsForm.invalid"
			class="btn btn-primary btn-user my-4 btn-block"
			(click)="saveDocument()"
		>
			Save
		</button>
	</form>
</div>
