<!-- Content Row -->
<div class="row">
	<!-- Earnings (Monthly) Card Example -->
	<div class="col-xl-3 col-md-6 mb-4" *ngFor="let party of parties">
		<div class="card border-left-primary shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div
							class="text-xs font-weight-bold text-primary text-uppercase mb-1"
						>
							{{ party.key }}
						</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">
							{{ party.value | currency: "INR" }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Content Row -->

<div class="row">
	<div class="col-6" id="income"></div>
	<div class="col-6" id="expense"></div>
</div>
