<div class="row">
	<div class="col-2"></div>
	<form class="form-inline col-8" [formGroup]="documentForm">
		<div class="form-group row col-12 mb-3">
			<div class="col-sm-12 row mb-3 mb-sm-0">
				<label class="col-3">Type</label>
				<select class="form-control col-9" formControlName="type">
					<option value="">----</option>
					<option value="docket">Docket</option>
					<option value="rr">RR</option>
				</select>
			</div>
		</div>

		<div class="form-group row col-12 mb-3">
			<div class="col-sm-12 row mb-3 mb-sm-0">
				<label class="col-3">Party</label>
				<input
					type="text"
					class="form-control col-9 form-control-user"
					formControlName="party"
					placeholder="Party Name"
				/>
			</div>
		</div>
		<div class="form-group row col-12 mb-3">
			<div class="col-sm-12 row mb-3 mb-sm-0">
				<label class="col-3">Document Number</label>
				<input
					type="text"
					class="form-control col-9 form-control-user"
					formControlName="docket_number"
					placeholder="Docket Number"
				/>
			</div>
		</div>
		<div class="form-group row col-12 mb-3">
			<div class="col-sm-12 row mb-3 mb-sm-0">
				<label class="col-3">Document Date</label>
				<input
					type="date"
					class="form-control col-9 form-control-user"
					formControlName="docket_date"
					placeholder="Document Date"
					[max]="now"
				/>
			</div>
		</div>
		<div class="form-group row col-12 mb-3">
			<div class="col-sm-12 row mb-3 mb-sm-0">
				<label class="col-3">Number of Packets</label>
				<input
					type="number"
					class="form-control col-9 form-control-user"
					formControlName="no_of_pack"
					placeholder="Number of Packets"
				/>
			</div>
		</div>

		<div class="form-group row col-12 mb-3">
			<div class="col-sm-12 row mb-3 mb-sm-0">
				<label class="col-3">Station</label>
				<input
					type="text"
					class="form-control col-9 form-control-user"
					formControlName="station"
					placeholder="Station"
				/>
			</div>
		</div>

		<div class="form-group row col-12 mb-3">
			<div class="col-sm-12 row mb-3 mb-sm-0">
				<label class="col-3">Weight</label>
				<input
					type="number"
					class="form-control col-9 form-control-user"
					placeholder="Weight"
					min="0"
					formControlName="weight"
				/>
			</div>
		</div>
		<div class="form-group row col-12 mb-3">
			<div class="col-sm-12 row mb-3 mb-sm-0">
				<label class="col-3">Rate per KG</label>
				<input
					type="number"
					min="0"
					class="form-control col-9 form-control-user"
					placeholder="Rate per KG"
					formControlName="rate"
				/>
			</div>
		</div>
		<div class="form-group row col-12 mb-3">
			<div class="col-sm-12 row mb-3 mb-sm-0">
				<label class="col-3">Charge</label>
				<input
					type="number"
					min="0"
					class="form-control col-9 form-control-user"
					placeholder="Charge"
					formControlName="charge"
				/>
			</div>
		</div>
		<div class="form-group row col-12 mb-3">
			<div class="col-sm-12 row mb-3 mb-sm-0">
				<label class="col-3">Other Charge</label>
				<input
					type="number"
					min="0"
					class="form-control col-9 form-control-user"
					placeholder="Other Charge"
					formControlName="other_charge"
				/>
			</div>
		</div>

		<div class="form-group row col-12 mb-3">
			<div class="col-sm-12 row mb-3 mb-sm-0">
				<label class="col-3">Dispatch Mode</label>
				<input
					type="text"
					class="form-control col-9 form-control-user"
					placeholder="Dispatch Mode"
					formControlName="dispatch"
				/>
			</div>
		</div>

		<div class="form-group row col-12 mb-3">
			<div class="col-sm-12 row mb-3 mb-sm-0">
				<label class="col-3">Payment Mode</label>
				<select class="form-control col-9" formControlName="pay_mode">
					<option value="">----</option>
					<option value="TBB">To Be Billed</option>
					<option value="ToPay">ToPay</option>
					<option value="Paid">Paid</option>
				</select>
			</div>
		</div>
		<div class="form-check row col-12 mb-3">
			<label class="col-3">Service Type </label>
			<div class="row col-9">
				<div class="col-6">
					<label class="radio-inline"
						><input
							formControlName="service_type"
							type="radio"
							value="Same State"
							class="form-check-input"
							(change)="calculateGST()"
						/>Same State</label
					>
				</div>
				<div class="col-6">
					<label class="radio-inline"
						><input
							type="radio"
							formControlName="service_type"
							class="form-check-input"
							value="Other State"
							(change)="calculateGST()"
						/>Other State</label
					>
				</div>
			</div>
		</div>
		<div class="form-group row col-12 mb-3">
			<div class="col-sm-12 row mb-3 mb-sm-0">
				<label class="col-3">CGST</label>
				<input
					type="text"
					formControlName="cgst"
					readonly
					class="form-control col-9 form-control-user"
					placeholder="CGST"
				/>
			</div>
		</div>
		<div class="form-group row col-12 mb-3">
			<div class="col-sm-12 row mb-3 mb-sm-0">
				<label class="col-3">SGST</label>
				<input
					type="text"
					readonly
					formControlName="sgst"
					class="form-control col-9 form-control-user"
					placeholder="SGST"
				/>
			</div>
		</div>

		<div class="form-group row col-12 mb-3">
			<div class="col-sm-12 row mb-3 mb-sm-0">
				<label class="col-3">IGST</label>
				<input
					type="text"
					formControlName="igst"
					readonly
					class="form-control col-9 form-control-user"
					placeholder="IGST"
				/>
			</div>
		</div>

		<div class="form-group row col-12 mb-3">
			<div class="col-sm-12 row mb-3 mb-sm-0">
				<label class="col-3">Bill Status</label>
				<input
					type="text"
					formControlName="bill_status"
					class="form-control col-9 form-control-user"
					placeholder="Bill Status"
				/>
			</div>
		</div>

		<div class="form-group row col-12 mb-3">
			<div class="col-sm-12 row mb-3 mb-sm-0">
				<label class="col-3">Remarks</label>
				<input
					type="text"
					formControlName="remarks"
					class="form-control col-9 form-control-user"
					placeholder="Remarks"
				/>
			</div>
		</div>
		<div class="form-group row col-12 mb-3">
			<div class="col-sm-12 row mb-3 mb-sm-0">
				<label class="col-3">Round Amount</label>
				<input
					type="text"
					formControlName="round_amt"
					class="form-control col-9 form-control-user"
					placeholder="Round Amount"
				/>
			</div>
		</div>
		<div class="form-group row col-12 mb-3">
			<div class="col-sm-12 row mb-3 mb-sm-0">
				<label class="col-3">Paid</label>
				<input
					type="number"
					formControlName="paid"
					class="form-control col-9 form-control-user"
					placeholder="Amount paid"
				/>
			</div>
		</div>

		<div class="form-group row col-12 mb-3">
			<div class="col-sm-12 row mb-3 mb-sm-0">
				<label class="col-3">Total</label>
				<input
					type="number"
					readonly
					formControlName="total"
					class="form-control col-9 form-control-user"
					placeholder="Total"
				/>
			</div>
		</div>

		<button
			[disabled]="documentForm.invalid"
			class="btn btn-primary btn-user my-4 btn-block"
			(click)="saveDocument()"
		>
			Save
		</button>
	</form>
</div>
